.button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  transition: .2s;
  color: #1506f0;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  }

  &:disabled {
    background: rgba(247, 30, 30, 0.2);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    color: #1606f079;
    cursor: not-allowed;
  }
}